@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&family=Poppins&display=swap");

body {
  width: 450px;
  margin-inline: auto;
  background-image: url(./img/sfondo.png);
}

header {
  background-color: rgb(47, 134, 168);
  box-shadow: 0px 5px 7px 3px;
  font-family: Poppins;
}

main {
  font-family: Poppins;
  background-color: white;
  box-shadow: 0px 5px 7px 3px;
}
