@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&family=Poppins&display=swap");

body {
  width: 450px;
  margin-inline: auto;
  background-image: url(../img/sfondo.png);
}

.logo {
  padding: 10px;
}

header {
  background-color: rgb(47, 134, 168);
  font-family: Poppins;
  font-weight: bold;
  text-align: center;
  height: 350px;
  box-shadow: 0px 5px 7px 3px;
}

header p {
  color: white;
}

h1 {
  padding: 5px;
  margin-left: 10px;
  padding-top: 15px;
}

main {
  font-family: Poppins;
  background-color: white;
  box-shadow: 0px 5px 7px 3px;
  padding: 18px;
  margin-top: 20px;
}

.tabella {
  margin-inline: auto;
  border: 1px;
}

caption {
  font-weight: bold;
  font-style: italic;
}

.tabella th {
  background-color: rgb(7, 137, 230);
  color: white;
  padding: 20px;
}

.tabella td {
  padding: 16px;
  border: hidden;
  background-color: rgba(230, 226, 226, 0.933);
}

#riga td {
  background-color: white;
}

.frame {
  width: 400px;
  height: 300px;
  border-radius: 25px;
}

.novità {
  background-color: rgba(230, 226, 226, 0.933);
  margin-inline: auto;
  margin-top: 30px;
  padding: 20px;
}

h2 {
  text-align: center;
}

button {
  background-color: blue;
  color: white;
  font-weight: bold;
}
